*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main {
    background-color: whitesmoke;
}

header p {
    text-transform: uppercase;
    font-weight: 800px;
    font-size: 5;
}